/*
 * Use this CSS to learn some intersting techniques,
 * in case you're wondering how I built the UI.
 * Have fun! 😁
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #f3f3f3;
  background-color: #444;
  height: 100vh;
  padding: 2rem;
}

.temp {
  display: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #62a24e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7dc069;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  height: 5.25rem;
}

.login {
  display: grid;
  row-gap: 1rem;
}

.register {
  display: grid;
  row-gap: 1rem;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: #5ec576;
  font-size: large;
  font-weight: 500;
  text-decoration: none;
  color: #222;
  transition: all 0.2s;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: #4bbb7d;
  color: #333;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000005a;
  backdrop-filter: blur(1.5px);
  transition: all 0.5s;
  z-index: 5;
}

.upper-lui {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  z-index: 20;
  border: 1px solid #62a24e;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: inset 0 0 5px 0px #7dc069;
  transition: all 0.3s;
  backdrop-filter: blur(10px);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(0);
}

.hidden ~ .upper-lui {
  transform: translate(205%, -200%) scale(0.25);
}

.login-ui {
  padding: 2rem;
  gap: 1rem;
  z-index: 2;
}

.login-ui .register {
  display: none;
}

.upper-lui p {
  text-align: center;
  font-size: 12px;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.upper-lui p button, .login-btn {
  backdrop-filter: blur(5px);
  background: none;
  border: none;
  outline: none;
  font-weight: 600;
  color: #4069da;
  cursor: pointer;
}

.login__input,
.register__input {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 100%;
  border-radius: 1rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  background: #ffffff44;
  transition: all 0.3s;
  color: #eee;
}

.login__input:focus,
.register__input:focus {
  outline: none;
  border: 1px solid #ccc;
  transform: scale(1.05);

  box-shadow: 2.5px 2.5px 5px 0px #39b385, -2.5px -2.5px 5px 0px #9be15d;
}

.login__input::placeholder,
.register__input::placeholder {
  color: #bbb;
  font-size: 15px;
}

.login__btn,
.register__btn {
  border: none;
  background: none;
  font-size: 2.6rem;
  color: inherit;
  cursor: pointer;
  padding: 1rem 1.5rem;
  transition: all 0.15s;
}

.login__btn:hover,
.register__btn:hover,
.btn--sort:hover,
.form__btn:hover {
  outline: none;
  background: #ffffff44;
  border-radius: 8px;
  transform: scale(1.05);
  color: #444;
}

.login__btn:active,
.register__btn:active,
.btn--sort:active,
.form__btn:active {
  outline: none;
  opacity: 0.75;
  border-radius: 8px;
  transform: scale(0.9);
  color: #333;
}

.incorrect {
  background: #e52a5a !important;
  box-shadow: 5px 5px 5px 1px #ff585f, -5px -5px 5px 1px #e52a5a !important;
}

.incorrect::placeholder {
  color: #eee !important;
}

.correct {
  background: #39b385 !important;
  border: 1px solid #9be15d;
  box-shadow: 2.5px 2.5px 5px 0px #39b385, -2.5px -2.5px 5px 0px #9be15d !important;
}

.correct::placeholder {
  color: #9be15d !important;
}

/* MAIN */
.app {
  position: relative;
  max-width: 130rem;
  margin: 4rem auto;
  display: grid;
  /* grid-template-columns: 1fr 5fr; */
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 0rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  width: 100%;
  background-color: #333;
  border-radius: 1rem;
  overflow: auto;

  transition: all 0.2s;
}

.movements:hover {
  box-shadow: 2px 2px 10px 2px #9be15d, -2px -2px 10px 2px #fff;
}

.movements__row {
  padding: 2.25rem 2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #444;
  /* color: #eee; */
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  /* color: #eee; */
}

.movements__date p{
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  box-shadow: 2.5px 2.5px 5px 0px #39b385, -2.5px -2.5px 5px 0px #9be15d;
  color: #444;
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  box-shadow: 2.5px 2.5px 5px 0px #e52a5a, -2.5px -2.5px 5px 0px #ff585f;
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
  text-shadow: 0 0 5px #66c873;
}

.summary__value--out {
  color: #f75b70;
  text-shadow: 0 0 5px #f75b70;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  color: #eee;
  text-wrap: nowrap;

  padding: 1rem;
  transition: all 0.15s;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
  transition: all 0.2s;
}

.operation--transfer:hover {
  box-shadow: 5px 5px 5px 0px #ffcb03, -5px -5px 5px 0px #ffb003;
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  transition: all 0.2s;
}

.operation--loan:hover {
  box-shadow: 5px 5px 5px 0px #9be15d, -5px -5px 5px 0px #39b385;
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  transition: all 0.2s;
}

.operation--close:hover {
  box-shadow: 5px 5px 5px 0px #ff585f, -5px -5px 5px 0px #e52a5a;
}

.operation--close:hover,
.operation--loan:hover,
.operation--transfer:hover {
  transform: scale(1.01);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);

  transform: scale(1.1);
  box-shadow: 2.5px 2.5px 5px 0px #39b385, -2.5px -2.5px 5px 0px #9be15d;
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

/* .form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
} */

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}
